/*═══════════════════════════════════════════════════════
                      Card-Styles
═══════════════════════════════════════════════════════*/
.card-character{
    text-align: center;
    background-color:#374B56;
    border-radius: 8px;
    align-items: center;
    margin-left:10%;
    width: 400px;
}
/*═══════════════════════════════════════════════════════
                      Container
═══════════════════════════════════════════════════════*/
.container-character{
    width:100%;
    height: 30%;
}
